<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roar Cycle - Bike Repairs in Chennai</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3b1559e97c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="images/logo-roar-bikes.svg" alt="Brnd logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item active dropdown haha">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Book Online
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item haha" href="#">Parts Delivery</a>
                        <a class="dropdown-item haha" href="#">Onsite Service </a>
                        <a class="dropdown-item haha" href="#">Request Callback</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active haha">
                    <a class="nav-link" href="contactus">Contact Us</a>
                </li>
                <li class="nav-item active haha">
                  <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item active haha">
                  <a class="nav-link" href="signup">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
      <div class="col-12 col-md-8 mt-5 paddings">

          <h1 class="heading">Roar BIKES</h1>
          <h3 class="text-white liney">We are an organization.What we do good - providing you with all the essentials you need for taking care of your beloved bike</h3>
          <p class="texty">Address : No: 78/34, CMDE COLONY, MADURAVAYOL , CHENNAI-600095</p>
          <p class="texty">Ph no : 8334523453</p>
          <p class="texty">Email : loki.venkat98@gmail.com</p>
          
      </div>
    </div>
</body>
</html>