<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roar Cycle - Bike Repairs in Chennai</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
    
                        <!-- form card login -->
                        <div class="card rounded-0 text-white">
                            <div class="card-header pr-5" >
                                <div class="text-center">
                                    <a><img src="images/logo-roar-bikes.png" class="img-fluid mb-2 " alt="">
                                    </a>
                                </div>
                                <div class="text-center">
                                    <h3 class="mb-0">Roar Bikes</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="form" action="bookonline" autocomplete="off" id="formLogin"  method="POST">
                                    <div class="form-group">
                                      <div class="col-auto">
                                        <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
                                        <select class="custom-select" id="inlineFormCustomSelect" name="typeofservice">
                                          <option selected>Choose Any one of our service</option>
                                          <option value="Onsite service">Onsite Service</option>
                                          <option value="Parts delivery">Parts delivery</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="font-weight-bold">Description</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" name="description" id="email" required>
                                        <small id="passwordHelpBlock" class="form-text text-white">
                                          Enter the bike part you want to book along with bike model or some words about your upcoming bike service mechanic 
                                        </small>
                                        <div class="invalid-feedback">Oops, you missed this one.</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" class="font-weight-bold">Location</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" id="location" required name="location">
                                        <div class="invalid-feedback">Enter your password too!</div>
                                    </div>
                                    <div class="form-group">
                                    <button type="button"  class="btn btn-outline-light btn-lg" id="locfinder">Find my Location</button>
                                    </div>
                                    <button type="submit" class="btn btn-outline-light btn-lg" id="btnLogin">Book</button>
                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
    
                    </div>
    
    
                </div>
                <!--/row-->
    
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
    <script>
      var button = document.getElementById("locfinder");
        button.addEventListener("click", function () {
          navigator.geolocation.getCurrentPosition((position)=>{
            document.getElementById('location').value=position.coords.latitude +','+position.coords.longitude 
          })
        })
    </script>
</body>
</html>