<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roar Cycle - Bike Repairs in Chennai</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3b1559e97c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#"><img src="images/logo-roar-bikes.svg" alt="Brnd logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav ml-auto float-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="bookonline">Book Online<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="aboutus">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active haha">
                        <a class="nav-link" href="contactus.html">Contact Us</a>
                    </li>
                    <li class="nav-item active haha">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
          
                </ul>
            </div>
        </nav>
        <div class="row text-white mt-3 ml-3 mb-3 float-right">
          <p > Welcome {{username}}</p>
          
        </div>
        <div class="row d-inline p-2 text-white float-lerft">
          <h3>{{message}}</h3>
        </div>
      
        <div class="row">
        <div class="col-12">

                <h1 class="heading">Mobile bike repairs.</h1>
                <p class="texty">Many people have difficulty getting their bikes to a bike shop. We call to your office or home anywhere in Chennai.</p>
                <p class="texty">Fast, convenient bike servicing with up-front pricing. All without the hassle of taking your bike into a shop.</p>
                <a href="bookonline"><button class="btn btn-outline-light" >Book Online</button></a>
            </div>
        </div>
        <div class="row cardy">
            <div class="card-deck">
                <div class="card text-center">
                  
                  <div class="card-body text-white border">
                    <p class="icony"><i class="fas fa-motorcycle"></i></p>
                    <h1 class="card-title font-weight-bold">Book Online</h1>
                    <p class="card-text"><a class="stretched-link text-white" href="bookonline">Book an appoinment with a bike Mechanic at your doorstep or wherever you are. We will reach out to you</a></p>
                    
                  </div>
                </div>
                <div class="card text-center">
                  
                  <div class="card-body text-white border">
                    <p class=" icony"><i class="fas fa-cog"></i></p>
                    <h1 class="card-title font-weight-bold">Service Types</h1>
                    <p class="card-text">We deliver a range of services which makes you worry when you go fora long ride.We got your back.</p>
                    
                  </div>
                </div>
                <div class="card text-white border text-center">
                  
                  <div class="card-body">
                    <p class="icony"><i class="fas fa-phone"></i></p>
                    <h1 class="card-title font-weight-bold">Call for Help</h1>
                    <p class="card-text">You can always contact us for futher assistance. We are here to help you</p>
                  
                  </div>
                </div>
              </div>
        </div>
        <div class="row cardy">
            
            <div class="card-deck">
                
                <div class="card border text-white">
                  
                  <div class="card-body">
                    
                    <p class="card-text">"I would like to personally thank you for your outstanding service. You guys rock! It's all good. I can't say enough about Roar ."</p>
                    <p class="card-text"><small>-Mani</small></p>
                  </div>
                </div>
                <div class="card border text-white">
                  
                  <div class="card-body">
                    
                    <p class="card-text">"Roar bikes impressed me on multiple levels. I would gladly pay over 600 rupees for Roar bikes. We can't understand how we've been living without Roar bikes."</p>
                    <p class="card-text"><small >-Manoj</small></p>
                  </div>
                </div>
              </div>

            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>